body{
background-image: url(../images/full-bloom.png);
margin: 0;
padding: 0 0 50px 0;
}
h1{
    padding: 0;
    margin: 0;
}
header{
    width: 100%;
    background: #ffffff;  
}
.inside{
    display: flex;
    justify-content: space-between;
    width: 960px;
    margin: 0 auto;  
}
.logo {
    color: #ffffff;
    background-color: #4aaaa5;
    font-size: 20px;
    font-weight: bold;
}
.logo h1{
    padding: 10px 35px 10px 35px;
}
nav{
    text-align: center;
    font-family:'Georgia', Times, Times, 'New Roman', serif;
    margin-top: 5px;
    border-color: #cccccc;  
}
nav ul{
    display: flex;
    list-style-type: none;
}
ul li{
    border-right: 1px solid #cccccc;
}
li:last-child {
    border-right: none;
}
a {
     padding: 0px 16px;
     color: #777777; 
     text-decoration: none;
}
li a :hover{
    color: white;
}
.main {
    background: #ffffff;
    width: 960px;
    height: 600px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    margin: auto;
}
.main h2{
    margin-top: 30px;
    padding: 20px 10px 0px 20px;
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times, 'New Roman', serif;
}
hr{
height: 1px;
background-color: solid #ddd;
margin: 0 10px 0 10px;
}
img{
    float: left;
    margin: 20px;
}
p{
    margin: 10px;
    padding-top: 20px;
}



/* footer{          (tried this 2 did not work)
    background: #666666;
    height: 120px;
    margin-top: 10px; */
    
    /* border-color: #4aaaa5;
    border-top: solid
 */
   

/*  footer {
    position: fixed;
    background-color: gray;
    height: 50px;
    text-align: center;
 } */
 #fix-footer{
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 50px;
    width: 100%;
    background: #666666;
    text-align: center;
    border-top-style: solid;
    border-top-color: #4aaaa5;
    font-size: 8px;
    color: #ffffff;
       
}

